/* general styles */

.section{
    display: flex;
    justify-content: center;
    width: 100%;
}
.section__content{
    width: 1200px;
    display: flex;
    align-items: flex-start;
}
.section__content--gap{
    gap: 60px;
    align-items: center;
} 
.section__content--center{
    justify-content: center;
}
.section__content--gray{
    margin-top: 150px;
    background-color: #F4F4F4;
    height: 1200px;
}
h1, h2, h3, h4, p{
    margin: 0;
}
/* typography */

html{
    font-family: inter;
    font-size: 18px;
    color: #7e7e7e;
}
a{
    text-decoration: none;
}

/* header */
.header-logo{
    padding: 32px 0;
}

.header-line{
    background-color: #F2F2F2;
    color: #1C2752;
    padding: 19px 0;
}
.header-line .section__content{
    justify-content: space-between;
}
.header-line__social{
    display: flex;
    gap: 17px;
    align-items: center;
}
.header-logo__section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.header-logo__image{
    display: flex;
    width: 64px;
}
.header-logo .section__content{
    justify-content: space-between;
}
.header-logo__text{
    font-family: 'Mulish';
    font-weight: 800;
    font-size: 30px;
    color: #1C2752;
}

/* contacts */

.contacts{
    display: flex;
    align-items: center;
    gap: 68px;
}
.contacts__contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}
.contact__info{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.contact__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: 68px;
    background-color: #0a5495;
    border-radius: 50px;
}
.contact__title{
    color: #1C2752;
    font-size: 20px;
    font-family: 'Mulish';
    font-weight: 700;
}
.contact__text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #7E7E7E;
}

/* hero */

.hero{
    background-image: url(../images/e39.jpg);
    height: 924px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 27px;
}
.hero .section__content{
    display: block;
}
.hero__navigation{
    position: relative;
    top: -27px;
}
.hero__description{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 190px;
    width: 619px;
    gap: 21px;
} 
.hero__description-text{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    color: #000000;
}
.hero__description-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 191px;
    height: 65px;
    border: none;
    background-color: #0a5495;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
}
.hero__description-button:hover{
    background-color: white;
    color: #000000;
}

/* navigation */

.navigation{
    display: flex;
    background-color: #000000;
    flex: 1;
    justify-content: space-between;
    padding: 14px;
    align-items: center;
}
.navigation__menu{
    display: flex;
    list-style: none;
    gap: 50px;
    margin: 0;
    padding: 20px 0;
}
.navigation__menu-item a{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}
.navigation__cta{
    width: 251px;
    height: 65px;
    border: none;
    background-color: #0a5495;
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
}
.navigation__cta:hover{
    background-color: #FFFFFF;
    color: #000000;
}
/* icon subtitle */
.icon-subtitle{
    background-color: #ffffff33;
    width: 500px;
    height: 45px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.icon__image{
    width: 35px;
}
.icon__text{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}
.icon__image--width{
    width: 23px;
}
.icon__text--font{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #1C2752;
}
.icon-subtitle--changes{
    background-color: #F4F4F4;
    width: 195.48px;
    height: 45px;
}

/* // main */


/* about */

.about{
    margin-top: 150px;
}
.about__image{
    background-image: url(../images/assembly.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    width: 1319px;
    height: 497px;
}
.about__content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about__title{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    color: #000000;
}
.about__experiance{
    display: flex;
    gap: 40px;
}
.about__year{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 175px;
    height: 197.16px;
    background-color: #F4F4F4;
    justify-content: center;
    gap: 19px;
}
.about__year-number{
    color: #000000;
    font-size: 50px;
    font-weight: 1000;
}
.about__year-text{ 
    font-family: 'Mulish';
    font-weight: 800;
    font-size: 20px;
    color: #0a5495;
}
.about__list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

/* services */

.services{
    background-color: #000000;
    margin-top: 150px;
    height: 750px;
}
.services__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 723px;
    height: 217px;
    text-align: center;
    gap: 19px;
}
.services__content-title{
    font-family: 'Mulish';
    font-weight: 800;
    font-size: 45px;
    color: #FFFFFF;
    margin: 0;
}
.services__content-paragraph{
    color: #FFFFFF;
    margin: 0;
}
.services__content-section{
    display: flex;
    justify-content: space-between;
    width: 723px;  
    height: 65px;
}
.services___section-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 221px;
    height: 65px;
    background-color: #9f9f9f;
    border: 1px solid #ffffff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    gap: 10px;
    color: #000000;
}
.services___section-button:hover{
    background-color: #ffffff;
}
.services___section-button img{
    width: 36px;
    height: 36px;
}
#margin{
    margin-top: 127px;
} 

/* details */

.details__content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1067px;
    height: 391px;
}
.details__image img{
    display: flex;
    width: 382px;
    height: 361px;
}
.details__text{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.details__text h2{
    font-family: 'Mulish';
    font-weight: 800;
    font-size: 35px;
    color: #0a5495;
    margin: 0;
}
.details__button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 65px;
    background-color: #0a5495;
    border: none;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}
.details__button:hover{
    background-color: #000000;
}

#height{
    display: flex;
    align-items: center;
    height: 509px;
    background-color: #FFFFFF;
    position: absolute;
    top: 2330px;
    box-shadow: 0px 20px 38px #d8d8d840;
}
/* models */

.models{
    background-color: #F4F4F4;
    padding-bottom: 150px;
}
.models__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    width: 687px;
    height: 175px;
}
.models__icon--changes{
    width: 213px;
    height: 45px;
    background: #FFFFFF;
}
.models__content{
    margin-top: 250px;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.models__title{
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 25px;
    color: #000000;
}
.models__list{
    display: flex;
    align-items: flex-start;
    gap: 25px;
}
.models__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 383px;
    height: 322px;
    background-color: #0063ab;
    padding-left: 36px;
    padding-right: 36px;
    box-sizing: border-box;
}
.models__image{
    width: 48px;
}
.models__button{
    width: 94px;
    height: 22px;
}
.models__section a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}
.models__section a:hover{
    color: #000000;
}
.models__text{
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.models__list--darkblue{
    background-color: #003b74;
}
.models__list--red{
    background-color: #db2617;
}
.models__header h2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    color: #000000;
}
.models__header p{
    font-weight: 400;
    text-align: center;
}
.models__pharagraph{
    color: #000000af;
}

/* blur */

.blur__image{
    display: flex;
    background-image: url(../images/assembly.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    width: 650px;
    height: 651px;
    justify-content: center;
    align-items: center;
}
.blur__box{
    display: flex;
    flex-direction: column;
    background: #1c2752b3;
    backdrop-filter: blur(12.5px);
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
    gap: 23px;
    width: 450px;
    height: 450px;
}
.blur__counters{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 22px;
    border: 1px solid white;
    width: 300px;
}
.blur__counters-number{
    display: flex;
    align-items: center;
    width: 96px;
    height: 55px;
    justify-content: center;
    background-color: #0063ab;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 31px;
    color: #ffffff;
}
.blur__counters-text{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
}
.blur__content{
    width: 1920px;
    gap: 70px;
    align-items: center;
}

/* experiance */

.experiance{
    width: 643px;
    height: 609px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.experiance__header{
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.experiance__subtitle{
    width: 213px;
    height: 45px;
    background: #F4F4F4;
}
.experiance__header h2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    color: #0a5495;
}
.experiance__points-box{
    display: flex;
    width: 533px;
    gap: 15px;

}
.experiance__points{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.experiance__points-text h2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #0a5495;
}
.experiance__points-text{
    flex-direction: column;
    display: flex;
    gap: 5px;
}

/* gallery */

.gallery__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    margin-top: 169px;
}
.gallery__list{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 30px;
}
.gallery__section--black{
    background-color: #000000;
    height: 880px;
}
.gallery__subtitle--grey{
    background-color: #F4F4F4;
    width: 182px;
    height: 40px;
}
.gallery__heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery__subtitle--grey+span{
    font-family: 'Mulish';
    font-weight: 800;
    font-size: 35px;
    color: #FFFFFF;
    margin-top: 9px;
}
.gallery__image{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    width: 300px;
    height: 425px;
    align-items: center;
    background-color: #ffffff;
}
.gallery__background{
    background-image: url(../images/bmw-m5-cs.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 260px;
    height: 300px;
    margin-bottom: 35px;
}
.gallery__backgroun--7{
    background-image: url(../images/7series.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 260px;
    height: 300px;
    background-position: center;
    margin-bottom: 35px;
}
.gallery__background--x7{
    background-image: url(../images/x7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 260px;
    height: 300px;
    background-position: center;
    margin-bottom: 35px;
}
.gallery__background--x8{
    background-image: url(../images/bmw-x8.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 260px;
    height: 300px;
    background-position: center;
    margin-bottom: 35px;
}
.gallery__image h2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #003b74;
}

/* testimonial */
.testimonial{
    height: 892.18px;
    margin-top: 150px;
    gap: 39px;
}
.testimonial__title{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 372px;
    height: 104px;

}
.testimonial__title>span{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    color: #0063ab;
    gap: 23px;
} 
.testimonial__costumers{
    width: 581px;
    height: 892.18px;
}
.testimonial__costumers-text{
    width: 581px;
    height: 411.18px;
    border: 1px solid #DDDDDD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.testimonial__personal-info{
    width: 503px;
    height: 333.18px;
}
.testimonial__profile{
    display: flex;
    justify-content: space-between;
}
.testimonial__image{
    display: flex;
    align-items: center;
    gap: 11px;
}
.testimonial__image img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
}
.testimonial__profile+p{
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 136.02%;
    margin-top: 44px;
}
.testimonial__navigation{
    margin-top: 30px;
}
.testimonial__name h2{
    color: #0063ab;
    margin-bottom: 6px;
}
.testimonial__navigation button{
    width: 44.8px;
    height: 44.8px;
    border-radius: 50px;
    border: none;
    background-color: #0063ab;
}
.testimonial__navigation button:hover{
    background-color: #ffffff;
}

/* any-qustion */

.any-qustion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 581px;
    height: 321px;
    background-color: #0063ab;
    margin-top: 33px;
}
.any-qustion__content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 497px;
    height: 221px;
}
.any-qustion__text h2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    color: #000000;
    margin-bottom: 12px;
}
.any-qustion__text span{
    color: #ffffffb7;   
}
.any-qustion__number{
    display: flex;
    align-items: center;
    gap: 10px;
}
.any-qustion__number a{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    color: #ffffff;
}

/* appointment */

.appointment{
    display: flex;
    flex-direction: column;
    width: 580px;
    height: 892px;
}
.appointment__header>span{
    font-family: 'Mulish';
    font-weight: 800;
    font-size: 35px;
    color: #0063ab;
}
.appointment__header{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 321px;
    height: 104px;
}
.appointment__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4F4F4;
    width: 580px;
    height: 765px;
    margin-top: 15px;
}
.appointment__form-content{
    display: flex;
    flex-direction: column;
    width: 464px;
    height: 629px;
    gap: 22px;
}
.appointment__input{
    border: none;
    width: 464px;
    height: 60px;
}
.textarea{
    height: 100px;
}
.appointment__submit{
    background-color: #0063ab;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
}
.appointment__submit:hover{
    background-color: #003b74;
    color: #ffffff;
}

/* brand */

.brand{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
    width: 1006px;
    height: 206px;
    margin-top: 75px;
}
.brend__header>span{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    color: #0063ab;
} 
.brand__list{
    display: flex;
    justify-content: space-between;
    width: 1006px;
    height: 59px;
    gap: 14px;
}
.brend__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}
.brand__name{
    font-family: 'Mulish';
    font-weight: 800;
    font-size: 37px;
}

/* pricing */
.pricing{
    display: flex;
    flex-direction: column;
    margin-top: 140px;
}
.pricing__header{
    display: flex;
    width: 1200px;
    height: 166px;
    align-items: center;
}
.pricing__title{
    display: flex;
    flex-direction: column;
    width: 577px;
    height: 166px;
    gap: 15px;
}
.pricing__title>span{
    font-family: 'Mulish';
    font-weight: 800;
    font-size: 45px;
    color: #0063ab;
}
.pricing__title+p{
    width: 579px;
    height: 74px;
}
.pricing__content{
    display: flex;
    gap: 24px;
    width: 1200px;
    height: 596px;
}
.pricing-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 384px;
    height: 596px;
}
.pricing-box__title{
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 304px;
    height: 97px;
    margin-bottom: 30px
}
.pricing__subcontent{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 304px;
    height: 516px;

}
.pricing__subcontent>input{
    width: 302px;
    height: 65px;
    background: #0063ab;
    border: none;
    margin-top: 35px;
}
.pricing__subcontent>input:hover{
    background-color: #003b74;
    color: #ffffff;
}
.pricing-box__content{
    display: flex;
    flex-direction: column;
    width: 304px;
    height: 516px;
}
.pricing-title__number h2{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #003b74;
}
.pricing-title__number span{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    color: #003b74;
}
.pricing__list{
    display: flex;
    align-items: center;
    gap: 12px;
}
.pricing__list img{
    width: 16.96px;
    height: 16.96px;
}
.pricing__list span{
    font-weight: 400;
    font-size: 16px;
}

/* blog */

.blog{
    justify-content: center;
    height: 779px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 150px;
    margin-bottom: 150px;
}
.blog__title{
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog__title>span{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    color: #003b74;
}
.blog__content{
    display: flex;
    gap: 33px;
    width: 1200px;
    height: 629px;
}
.blog__content-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 585px;
    height: 629px;
}
.blog__content-section img{
    width: 584px;
    height: 361px;  
}
.blog__content-section--height img{
    height: 368px;
}
.blog__position{
    display: flex;
    width: 354px;
    height: 60px;
    position: relative;
    top: -29px;
}
.blog__position-box{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #0063ab;
    color: #ffffff;
}
.blog__position-box:hover{
    background-color: #ffffff;
    color: #000000;
}
.blog__position-box--blue{
    background-color: #003b74;
}
.blog__text{
    width: 584px;
    height: 213px;      
}
.blog__text h2{
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 9px;
    color: #003b74;
}
.blog__text p{
    margin-bottom: 26px;
}
.blog__text a{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    color: #003b74;
}
.blog__text a:hover{
    color: #000000;
}

/* newslatter */

.newslatter--blue{
    background-color: #003b74;
    height: 342px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newslatter{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 125px;
}
.newslatter__seconde{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}
.newslatter__first{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 11px;
}
.newslatter__first h2{
    font-family: 'Mulish';
    font-weight: 800;
    font-size: 45px;
    color: #ffffff;
}
.newslatter__first p{
    font-weight: 700;
    font-size: 18px;
    color: #ffffffb1;
}
.newslatter__email-input{
    width: 329px;
    height: 65px;
    background-color: #003b74;
    border: solid 1px #ffffff;
    padding-left: 20px;
    box-sizing: border-box;
}
.newslatter__email-submit{
    width: 191px;
    height: 65px;
    background-color: #ffffff;
    border: none;
    font-weight: 600;
    font-size: 20px;
    color: #0063ab;
}
.newslatter__seconde ::placeholder{
    font-weight: 400;
    font-size: 16px;
    color: #ffffffcf;
}

/* footer */

.footer{
    background-color: #ffb342;
    height: 160px;
    align-items: center;
}
.footer__content{
   justify-content: space-between;
}
.footer__contact{
    width: 880px;
    height: 68px;
    gap: unset;
    justify-content: flex-end;
    gap: 20px;
}
