/* general styles */

.section{
    display: flex;
    justify-content: center;
    width: 100%;

}
.section__content{
    width: 1200px;
    display: flex;
    align-items: flex-start;
}
.section__content--gap{
    gap: 60px;
    align-items: center;
} 
.section__content--center{
    justify-content: center;
}
h1, h2, h3, h4, p{
    margin: 0;
}
/* typography */

html{
    font-family: inter;
    font-size: 18px;
    color: #7e7e7e;
}
a{
    text-decoration: none;
}

/* header */
.header-logo{
    padding: 32px 0;
}

.header-line{
    background-color: #F2F2F2;
    color: #1C2752;
    padding: 19px 0;
}
.header-line .section__content{
    justify-content: space-between;
}
.header-line__social{
    display: flex;
    gap: 17px;
    align-items: center;
}
.header-logo__section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.header-logo__image{
    display: flex;
    width: 64px;
}
.header-logo .section__content{
    justify-content: space-between;
}
.header-logo__text{
    font-family: 'Mulish';
    font-weight: 800;
    font-size: 30px;
    color: #1C2752;
}

/* contacts */

.contacts{
    display: flex;
    align-items: center;
    gap: 68px;
}
.contacts__contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}
.contact__info{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.contact__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: 68px;
    background-color: #0a5495;
    border-radius: 50px;
}
.contact__title{
    color: #1C2752;
    font-size: 20px;
    font-family: 'Mulish';
    font-weight: 700;
}
.contact__text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #7E7E7E;
}

/* hero */

.hero{
    background-image: url(../images/e39.jpg);
    height: 924px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 27px;
}
.hero .section__content{
    display: block;
}
.hero__navigation{
    position: relative;
    top: -27px;
}
.hero__description{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 190px;
    width: 619px;
    gap: 21px;
} 
.hero__description-text{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    color: #000000;
}
.hero__description-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 191px;
    height: 65px;
    border: none;
    background-color: #0a5495;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
}
.hero__description-button:hover{
    background-color: white;
    color: #000000;
}

/* navigation */

.navigation{
    display: flex;
    background-color: #000000;
    flex: 1;
    justify-content: space-between;
    padding: 14px;
    align-items: center;

}
.navigation__menu{
    display: flex;
    list-style: none;
    gap: 50px;
    margin: 0;
    padding: 20px 0;
}
.navigation__menu-item a{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}
.navigation__cta{
    width: 251px;
    height: 65px;
    border: none;
    background-color: #0a5495;
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
}
.navigation__cta:hover{
    background-color: #FFFFFF;
    color: #000000;
}
/* icon subtitle */
.icon-subtitle{
    background-color: #ffffff33;
    width: 500px;
    height: 45px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.icon__image{
    width: 35px;
}
.icon__text{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}
.icon__image--width{
    width: 23px;
}
.icon__text--font{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #1C2752;
}
.icon-subtitle--changes{
    background-color: #F4F4F4;
    width: 195.48px;
    height: 45px;

}

/* // main */


/* about */

.about{
    margin-top: 150px;
}
.about__image{
    background-image: url(../images/assembly.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    width: 819px;
    height: 546px;
    gap: 60px;
}
.about__title{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    color: #000000;
}
.about__experiance{
    display: flex;
    gap: 40px;
}
.about__year{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 175px;
    height: 197.16px;
    background-color: #F4F4F4;
    justify-content: center;
    gap: 19px;
}
.about__year-number{
    color: #000000;
    font-size: 50px;
    font-weight: 1000;
}
.about__year-text{ 
    font-family: 'Mulish';
    font-weight: 800;
    font-size: 20px;
    color: #0a5495;
}
.about__list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

/* services */

.services{
    background-color: #000000;
    margin-top: 150px;
    height: 750px;
    
}
.services__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 723px;
    height: 217px;
    text-align: center;
    gap: 19px;
}
.services__content-title{
    font-family: 'Mulish';
    font-weight: 800;
    font-size: 45px;
    color: #FFFFFF;
    margin: 0;
}
.services__content-paragraph{
    color: #FFFFFF;
    margin: 0;
}
.services__content-section{
    display: flex;
    justify-content: space-between;
    width: 723px;  
    height: 65px;
}
.servicrs___section-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 221px;
    height: 65px;
    background-color: #808080;
    border: 1px solid #ffffff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    gap: 10px;
    color: #000000;
}
.servicrs___section-button:hover{
    background-color: #ffffff;
}
.servicrs___section-button img{
    width: 36px;
    height: 36px;
}
#margin{
    margin-top: 127px;
} 

/* details */

.details__content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1067px;
    height: 391px;
}
.details__image img{
    display: flex;
    width: 382px;
    height: 361px;
}
.details__text{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.details__text h2{
    font-family: 'Mulish';
    font-weight: 800;
    font-size: 35px;
    color: #0a5495;
    margin: 0;
}
.details__button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 65px;
    background-color: #0a5495;
    border: none;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}
.details__button:hover{
    background-color: #000000;
}

#height{
    display: flex;
    align-items: center;
    height: 509px;
    background-color: #FFFFFF;
    position: absolute;
    top: 2330px;
    box-shadow: 0px 20px 38px #d8d8d840;

}
/* models */

.models{
    background-color: #F4F4F4;
}
.models__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    width: 687px;
    height: 175px;
}
.models__icon--changes{
    width: 213px;
    height: 45px;
    background: #FFFFFF;
}
.models__content{
    margin-top: 250px;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    
}
.models__title{
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 25px;
    color: #000000;
}
.models__list{
    display: flex;
    align-items: flex-start;
    gap: 25px;
}
.models__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 383px;
    height: 322px;
    background-color: #0063ab;
    padding-left: 36px;
    padding-right: 36px;
    box-sizing: border-box;
}
.models__image{
    width: 48px;
}
.models__button{
    width: 94px;
    height: 22px;
}
.models__section a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}
.models__text{
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.models__list--darkblue{
    background-color: #003b74;
}
.models__list--red{
background-color: #db2617;
}
.models__header h2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    color: #000000;
}
.models__header p{
    font-weight: 400;
    text-align: center;
}
.models__pharagraph{
    color: #000000af;
}