body{
    margin: 0;
}
.wraper{
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
header:first-child{
    display: flex;
    background-color:  rgba(242, 242, 242, 1);
    height: 60px;
    align-items: center;
}
header div{
    display: flex;
}
header:first-child>div>div{
    width: 1198.86px;
    height: 22px;
    justify-content: space-around;
    flex-direction: row;
}
.colorclass{
    color: rgba(28, 39, 82, 1);
}
#instaID{
    position: relative; 
    width: 10.4px;
    height: 10.01px;
    right: 8.5px;
    top: 3.3px;
}
#instaborderID{
    position: relative;
    left: 5px;
}
.iconbox{
    display: flex;
    width: 17.83px;
    height: 17.83px;
    gap: 17px;
}
header+div{
    display: flex;
    height: 68px;
    background-color: rgba(255, 255, 255, 0.952);
    align-items: center;
    justify-content: space-around;
    font-family: 'Inter', sans-serif;
    font-family: 'Mulish', sans-serif;
    margin-top: 35px;
}
header+div img{
    width: 44px;
    width: 22px;
}
header+div a{
    text-decoration: none;
    color: rgb(255, 217, 0);
}
header+div :first-child :last-child{
    font-family: 'Inter', sans-serif;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 44px;
}
.contactclass{
    display: flex;
    border: none;
    border-radius: 40px;
    background-color: rgba(255, 179, 66, 1);
    width: 68px;
    height: 68px;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.flex :last-child a{
    display: flex;
    flex-direction: column;
    color: rgba(28, 39, 82, 1);

}
.flex :last-child :first-child{
    font-family: 'Inter', sans-serif;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}
.flex :last-child :last-child{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: rgba(126, 126, 126, 1);
}
header+div :last-child{
    display: flex;
    
}
header+div :first-child{
    display: flex;
}
.flex :last-child {
    display: flex;
    flex-direction: column;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53px;
    background-color: white; 
}
.navbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    width: 1000px;
    height: 65px;  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: rgba(47, 47, 47, 1);
    background-color: rgba(255, 179, 66, 1);
    margin: 0;
    position: absolute;
    top: 194px;
}
li{
    display: inline-block;
    text-decoration: none;
    padding: 14px;
}
.navbox button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 20px 22px 21px;
    background-color:  rgba(28, 39, 82, 1);
    width: 251px;
    height: 65px;
}
.navbox button span{
    width: 207px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
}
ul :first-child{
    padding-left: 0;
}
li a{
    text-decoration: none;
    color: rgba(47, 47, 47, 1);
}
nav+div{
    display: flex;
    background-image: url(../images/e39.jpg);
    height: 724px;
    background-size: cover;
    background-attachment:scroll;
    flex-direction: column;
    align-items: start;
    
}
nav+div>div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px;
    width: 619px;
    height: 306px;
    margin: 150px; 
}
nav+div>div:first-child{
    display: flex;
    justify-content: center;
    padding: 8px 16px 7px;
    width: 500px;
    height: 45px;
    border: none;
    margin: 250px 150px;
    margin-bottom: 200px;
}
nav+div div button img{
    width: 30px;
    height: 29px;
}
.buttonReadMore{
    padding: 20px 33px 21px;
    width: 191px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 33px 21px;
    margin-left: 160px;
    background: rgba(255, 179, 66, 1);
    border: none;
}
#buttonbox{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: rgba(255, 255, 255, 0.37);
}
#buttonbox :last-child{
    width: 229px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
#buttonbox+span{
    width: 619px;
    height: 143px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 75px;
    color: rgba(255, 255, 255, 1);
}
.buttonReadMore span{
    width: 125px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: rgba(28, 39, 82, 1);
}
nav+div+div{
    display: flex;
    align-items: center;
    padding: 0px;
    width: 1200px;
    height: 546px;
    margin: 100px auto;
}
#divimgbox{
    background-image: url(../images/assembly.jpeg);
    display: flex;
    width: 540px;
    height: 546px;
    background-size: cover;
    background-attachment:scroll;
    flex-direction: column;
    align-items: start;
}
#divimgbox+div{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 600px;
    height: 498.16px;
}
#conteinerID{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 600px;
    height: 248.16px;
}
#conteinerimgID{
    display: flex;
    align-items: center;
    padding: 8px 16px 7px;
    width: 235.48px;
    height: 45px;
    background-color: rgba(244, 244, 244, 1);
}
#conteinerimgID img{
    width: 42.48px;
    height: 41.24px;
    margin-right: 10px;
}
#conteinerimgID span {
    width: 172px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: rgba(28, 39, 82, 1);
}
#conteinerID h2{
    width: 515px;
    height: 56px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 56px;
    color: rgba(28, 39, 82, 1);
}
#conteinerID p{
    width: 600px;
    height: 132px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: rgba(126, 126, 126, 1);
}
#conteinerID+div{
    display: flex;
    align-items: center;
    padding: 0px;
    width: 534px;
    height: 197.16px;
}
#numberboxID{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 35px 34px;
    width: 155px;
    height: 157.16px;
    background-color: rgba(244, 244, 244, 1);
}
#conteinerID+div :first-child >div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 107px;
    height: 127.16px;
}
#numbersize{
    font-size: 65px;
    font-family: 'Mulish';
    font-weight: 800;  
    color: rgba(255, 179, 66, 1); 
}
#textsize{
    width: 107px;
    height: 50px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: rgba(28, 39, 82, 1);
}
#spanboxID{
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 319px;
    height: 136px;
    margin-left: 50px
}
#spanboxID span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: rgba(126, 126, 126, 1);
}
#yellowdiv{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 179, 66, 1);
    height: 750px;
    margin: 0 auto;
}
#yellowdiv >div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 723px;
    height: 217px;
}
#yellowdiv >div >div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 687px;
    height: 120px;
}
#yellowdiv >div >div h2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 56px;
    color: rgba(28, 39, 82, 1);
}
#yellowdiv >div >div span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: rgba(28, 39, 82, 1);
}
#yellowdiv >div >div >div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    width: 723px;
    height: 65px;
}
#yellowdiv >div >div button{
    margin-top: 30px;
    border: solid 1px rgba(28, 39, 82, 1);
    background-color: rgba(255, 179, 66, 1);
    width: 221px;
    height: 65px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: rgba(28, 39, 82, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}
#yellowdiv >div >div button:focus{
    background-color: rgba(255, 255, 255, 1);
}
#yellowdiv >div >div button img{
    width: 36px;
    height: 36px;
    margin-right: 5px;
}
.position{
    height: 0;
    position: relative;
}
.factoryes{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: flex-start;
    padding: 39px 66px;
    width: 1000px;
    height: 509px;
    position: relative;
    margin: 0 auto;
    bottom: 440px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 20px 38px rgba(216, 216, 216, 0.25);
}
.factoryes__div--flex{
    display: flex;
}
.factoryes__div{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 1067px;
    height: 391px;
}
.minibox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px 7px;
    width: 257px;
    height: 45px;
    background-color: rgba(244, 244, 244, 1);
}
.minibox img{
    
    width: 28px;
    height: 28px;
}
.minibox h3{
    width: 188px;
    height: 22px;
    font-family: 'Inter'; 
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: rgba(28, 39, 82, 1);
}
.minibox+div h2{
    width: 201px;
    height: 44px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 44px;
    color: rgba(28, 39, 82, 1);
}
.minibox+div p{
    width: 562px;
    height: 176px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: rgba(126, 126, 126, 1);
}
#buttonReadMore{
    margin: 0;
}
#backboximg{
    width: 445px;
    height: 391px;
}
#backboximg img{
    width: 445px;
    height: 391px;
}
.modelbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 1359px;
    height: 883px;
    margin-top: 250px;
}
.headinbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 687px;
    height: 180px;
}
#miniboxID{
    width: 173px;
    height: 45px;
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 10px;
}
.headinbox>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    width: 476px;
    height: 111px;
}
.headinbox>div>h2{
    width: 476px;
    height: 56px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 56px;
    text-align: center; 
    margin: 0;
    color: rgba(28, 39, 82, 1);
}
#miniboxID>span{
    width: 145px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: rgba(28, 39, 82, 1);
}
.headinbox>p{
    width: 687px;
    height: 46px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: rgba(126, 126, 126, 1);
}
.headinbox+div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 1199px;
    height: 671px;
    margin-top: 25px;
}
.aboxofboxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    width: 1199px;
    height: 322px;
    margin-top: 12px;
}
.minimodelboxes{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 47px 37px 47px 36px;
    width: 383px;
    height: 216px;
    background-color: rgba(28, 39, 82, 1);
    margin: 15px;
}
#yellowdiv+div+div{
    display: flex;
    justify-content: center;
    height: 1329px;
    background-color: rgba(244, 244, 244, 1);
}
.minimodelboxes>div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 310px;
    height: 220px;
}
.minimodelboxes>div>div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 310px;
    height: 256px;
}
.miniboxlogo{
    width: 48px;
    height: 48px;
}
.miniboxlogo img{
    width: 48px;
    height: 48px;
}
.miniboxlogo+div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 310px;
    height: 138px;
}
.miniboxlogo+div h2{
    width: 242px;
    height: 31px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 31px;
    margin-bottom: 0;
    color: rgba(255, 179, 66, 1);
}
.miniboxlogo+div p{
    width: 310px;
    height: 66px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0;
    color: rgba(210, 210, 210, 1);
}
.minimodelboxes>div>a{
    width: 94px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
.choosebox{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    height: 800px;
    justify-content: center;
    gap: 40px;
}
.choosebox__img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 945px;
    height: 800px;
    background-image: url(../images/new-bmw-7-series-production-body-1920x1080.jpeg);
    background-size: cover;
    background-attachment: scroll;
}
.contentbox{
    width: 1005px;
    height: 609px;
}
.contentbox__about{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 643px;
    height: 609px;
}
.contentbox__first{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 643px;
    height: 254px;
}
.contentbox__img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px 7px;
    width: 200.16px;
    height: 45px;
    background-color: rgba(244, 244, 244, 1);
}
.contentbox__text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 643px;
    height: 200px;
}
.contentbox__text h2{
    width: 508px;
    height: 112px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 56px;
    color: rgba(28, 39, 82, 1);
    margin: 0;
}
.contentbox__text p{
    width: 643px;
    height: 66px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: rgba(126, 126, 126, 1);
}
.contentbox__img img{
    width: 28px;
    height: 28px;
}
.contentbox__img span{
    width: 137px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: rgba(28, 39, 82, 1);
}
.points{
    width: 558px;
    height: 311px;
}
.points__1--text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 513px;
    height: 77px;

}
.points__1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 558px;
    height: 87px;
    margin-top: 40px;
}
.points__1--text h2{
    width: 210px;
    height: 25px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: rgba(28, 39, 82, 1);
    margin-top: 3.5px;
    margin-left: 10px;
}
.points__1--text p{
    width: 513px;
    height: 47px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: rgba(126, 126, 126, 1);
    margin-top: 0;
}
.choosebox__img--blur{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 182px 115px;
    gap: 10px;
    width: 180px;
    height: 100px;
    background: rgba(28, 39, 82, 0.7);
    backdrop-filter: blur(12.5px);
}
.blur__box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 23px;
    width: 400px;
    height: 329px;
    position: absolute;
    top: 90px;
    left: 54px;
}
.blur__box--counters{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 300px;
    height: 55px;
    border: 1px solid rgb(255, 255, 255)
}
.counters__number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 86px;
    height: 55px;
    background: rgba(255, 179, 66, 1);
}
.counters__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    width: 200px;
    height: 55px;
    text-align: center;
}
.counters__number span{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 31px;
    text-align: center;
    color: rgba(28, 39, 82, 1);
    width: 60px;
    height: 31px;
}
.counters__text span{
    width: 200px;
    height: 31px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
    color: rgba(255, 255, 255, 1);
}
.gallery{
    display: flex;
    height: 800px;
    justify-content: center;
    align-items: center;
    background: rgba(28, 39, 82, 1);
}
.gallery__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 60px;
    width: 1866px;
    height: 796px;
}
.gallery__box--heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 9px;
    width: 520px;
    height: 110px;
    margin-top: 80px;
}
.heading__minibox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px 7px;
    gap: 10px;
    width: 152.16px;
    height: 35px;
    background-color: rgba(244, 244, 244, 1);
}
.heading__minibox img{
    width: 24.16px;
    height: 24.16px;

}
.heading__minibox h2{
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    margin: 0;
    color: rgba(28, 39, 82, 1);
}
.heading__minibox+span{
    height: 56px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 56px;
    color: rgba(255, 255, 255, 1);
}
.gallery__list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    height: 626px;
}
.gallery__list--boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 21px 22px;
    gap: 10px;
    width: 250px;
    height: 380px;
    background-color: rgba(255, 255, 255, 1);
}
.galleryimages{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 23px;
    width: 400px;
    height: 345px;
}
.galleryimages img{
    width: 260px;
}
.imagesname{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 7px;
    width: 293px;
    height: 60px;
}
.imagesname h2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 31px;
    margin: 0;
}
.imagesname span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: rgba(126, 126, 126, 1);
}
.formbox{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0px;
    gap: 39px;
    width: 1200px;
    height: 892.18px;
}
.formbox__firstbox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 33px;
    width: 581px;
    height: 892.18px;
}
.costumersbox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 23px;
    width: 581px;
    height: 538.18px;
}
.anyqustion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 42px;
    gap: 10px;
    width: 581px;
    height: 321px;
}
.costumerbox__title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    width: 272px;
    height: 104px;
}
.costumersays{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 39px;
    gap: 10px;
    width: 581px;
    height: 411.18px;
}
.costumerbox__title button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px 7px;
    gap: 10px;
    width: 162.16px;
    height: 45px;
    border: none;
}
.costumerbox__title button>span{
    width: 49px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: rgba(28, 39, 82, 1);
}
.costumerbox__title>button>img{
    width: 24px;
    height: 24px;
}
.costumerbox__title>span{
    width: 272px;
    height: 44px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 44px;
    color:rgba(28, 39, 82, 1);
}
.costumersays__box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 503px;
    height: 333.18px;
}
.infobox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 17px;
    width: 503px;
    height: 257px;
}
.infobox__header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 17px;
    width: 503px;
    height: 67px;
}
.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 11px;
    width: 203px;
    height: 70px;
}
.profile>img{
    width: 70px;
    height: 60px;
    border-radius: 40px;
}
.name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
    width: 122px;
    height: 50px;
}
label{
    color: blue;
}